---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About me";

const identity = {
	firstName: "IrohaMo",
	country: "日本",
	occupation: "学生",
	hobbies: ["三味線"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "C"];
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---


<style define:vars={{skillColor, fontWeight, textCase}}>
	.skill {
		color: var(--skillColor);
		font-weight: var(--fontWeight);
		text-transform: var(--textCase);
	}
</style>

<BaseLayout pageTitle={pageTitle}>
	<h2>... and my new astro site!</h2>
	<p>I'm doing Astro tutorial. This is the second page for my website.</p>
	<p>This site is being updated as I continue the tutorial.</p>
	<p>以下は私に関するいくつかの事実です。</p>
	<ul>			
	<li>私の名前は{identity.firstName}です。</li>
	<li>{identity.country}に住んでおり、{identity.occupation}をしています。</li>
	{identity.hobbies.length >= 2 &&
		<li>私の2つの趣味は{identity.hobbies[0]}と{identity.hobbies[1]}です。</li>
	}
	</ul>
	<p>私のスキルは以下の通りです。</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
</BaseLayout>
